<div class="jumbotron center">	
<h1>Denilson</h1>
<p>Accept mobile payments anytime, anywhere.</p>
<br>
<br>
<br>

<p>
	Click here to <%= link_to "Log In", "#", class: "btn btn-primary btn-lg"%> <%= link_to "Sign Up", "#", class: "btn btn-default btn-lg"%>
</p>
</div>
